---
layout: base
image: nate.jpg
---
<div id="home-container-outer">
  <div id="home-container-inner">
    <img id="nate-photo" src="assets/{{ image }}" />
    <h1 id="home-header">I'm Nathan Heller.</h1>
    <p id="home-paragraph">
      I'm a New York-based software engineer and horror movie fan,
      but server errors don't scare me. Ok, maybe a little.
    </p>
    <p id="home-paragraph-small" class="font-gray">
      This page is under construction, so please visit me on 
      <a href="https://twitter.com/nxheller">Twitter</a> 
      or 
      <a href="https://www.linkedin.com/in/nathanheller/">LinkedIn</a> 
      in the meantime. See you soon!
    </p>
  </div>
</div>

{# <ul>
  {% for post in collections.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
  {% endfor %}
</ul> #}

